@tailwind base;
@tailwind components;
@tailwind utilities;

#login-to-spotify {
    padding: 5px;
}


.grid-template-areas {
    grid-template-areas: 
    "sidenav main" 
    "now-playing now-playing"
    ;
}

.grid-template-areas .content {
    grid-area: main;
}

.grid-template-areas .sidenav {
    grid-area: sidenav;
}

.grid-template-areas .now-playing {
    grid-area: now-playing;
}




    /* play and pause button  */
    /* <div class="track-no-play-button hidden"></div> */
    /* .track-no-play-button {
        border: 0;
        background: transparent;
        box-sizing: border-box;
        width: 0;
        height: 14px;
        border-color: transparent transparent transparent white;
        transition: 100ms all ease;
        cursor: pointer;
        border-style: solid;
        border-width: 8px 0 8px 14px;
      } */
      /* .track-no-play-button.paused {
        border-style: double;
        border-width: 0px 0 0px 60px;
      } */
      /* .track-no-play-button:hover {
        border-color: transparent transparent transparent #404040;
      } */





 /* .track.selected .track-no-actual {
    visibility: hidden;
}

.track.selected .track-no-play-button {
    visibility: 'visible';
 }  */

/* .track:hover .track-no-actual, .track.selected .track-no-actual {
    visibility: hidden;
}

.track:hover .track-no-play-button, .track.selected .track-no-play-button {
    visibility: visible;
 }  */



 .material-symbols-outlined {
   font-variation-settings:
   'FILL' 1,
   'wght' 700,
   'GRAD' 0,
   'opsz' 48
 }
 
 

#cover-content {
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.header {
    height: 72px;
    background: black;
}

/* #playlist-header {
    margin-top: 18px;
} */

.album-image {
    width: 230px;
    height: 230px;
    object-fit: contain;
    margin-left: 58px;
}
.album-description {
   color: #c4bebe;
}


/* #volume::-webkit-slider-thumb { 
    -webkit-appearance:none;
    opacity:0;
}  */

/* #volume:hover #volume, #volume::-webkit-slider-thumb { 
    -webkit-appearance:none;
    appearance: none;
    opacity:1;
}  */


input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    margin-right: 15px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    background-image: linear-gradient(white,white);
    background-size: 70% 100%;
    background-repeat: no-repeat;
  }

  input[type="range"]:hover {
    background-image: linear-gradient(green, green);
  }
  
  /* Input Thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: white;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
    opacity: 0;
  }
  
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
    opacity: 0;

  }
  
  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
    opacity: 0;

  }
  

  /* input[type="range"]:hover input[type="range"]::-webkit-slider-thumb {
    opacity: 1;
    background: white;
  } */
  
  input[type="range"]::-webkit-slider-thumb:hover {
    background: white;
    opacity: 1;
  }


  
  input[type="range"]::-moz-range-thumb:hover {
    background: white;
    opacity: 1;

  }
  
  input[type="range"]::-ms-thumb:hover {
    background: white;
    opacity: 1;

  }
  
  /* Input Track */
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }